<div class="box" style="background-color: #f5f5f5">
	<% if card.image_file_name == nil %>
		<%= link_to (image_tag "SU_Logo_Thumbnail.png"), card %>
	<% else %>
		<%= link_to (image_tag card.image(:medium)), card %> 
	<% end %>   
	<b><%= card.title %></b>
	<br>
	<%= card.description %>
	<br>
	<b>Time Req:</b><%= card.time %>
	<br>
	<b>Category:</b> <%= card.category %>
	<br>
	<b>Materials:</b> <%= card.materials %>
	<br>
	<b>Program:</b> <%= card.program %>
	<br>
	<% if current_user == card.user %>
    	<%= link_to 'Edit', edit_card_path(card) %>
   		<%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   	<% end %>
</div> 



