<div class="row">
	<div class="span6 offset3">
		<div class="well" style="background-color:<%= @card.color %>">
			<% if @card.image_file_name == nil %>
				<img src="SU_Logo_Thumbnail.png">
			<% else %>
				<%= image_tag @card.image %>
			<% end %>
			
	<p style="font-size: 36px">
        <strong>
  		<%= @card.title %>
  	    </strong>
	</p>
	<hr>
	<%= @card.description %>
	<br>
	<hr>
	<b style="font-size: 18px"><u>Subject Area</u></b>
	<br>
	<%= @card.subject %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Content Tags</u></b>
	<br>
	<%= @card.tags %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Category</u></b> 
	<br>
	<%= @card.category %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Learning Outcomes</u></b> 
	<br>
	<%= @card.outcomes %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Time Requirement</u></b>
	<br>
	<%= @card.time %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Materials</u></b> 
	<br>
	<%= @card.materials %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Facilitation Notes</u></b> 
	<br>
	<%= @card.notes %>
	<br>
	<br>
	<b style="font-size: 18px"><u>Sequence</u></b>
	<br>
	<%= @card.sequence %>
	<br>
	<br>
	<% if current_user.voted_up_on? @card %>
		<span class="icon-star"></span>
		<%= link_to 'Remove Favorite', dislike_card_path(@card), method: :put%>
	<% else %>
	<%= link_to 'Favorite', like_card_path(@card), method: :put%>
	<% end %>
	<% if current_user == @card.user %>
		<span class="icon-edit"></span>
		<%= link_to 'Edit', edit_card_path(@card) %> |
     <% end %>
    <span class="icon-arrow-left"></span>
    <%= link_to 'Back', cards_path %>

</div>
	</div> 
		</div>

