<div class="row">
	<div class="span6 offset3">
		<div class="well" style="background-color:<%= @card.color %>">
			<% if @card.image_file_name == nil %>
				<img src="SU_Logo_Thumbnail.png">
			<% else %>
				<%= image_tag @card.image %>
			<% end %>
			
	<p>
        <strong>
  		<%= @card.title %>
  	    </strong>
	</p>
	<%= @card.description %>
	<br>
	<b>Subject Area: </b><%= @card.subject %>
	<br>
	<b>Content Tags: </b><%= @card.tags %>
	<br>
	<b>Category: </b> <%= @card.category %>
	<br>
	<b>Learning Outcomes: </b> <%= @card.outcomes %>
	<br>
	<b>Time Req: </b><%= @card.time %>
	<br>
	<b>Materials: </b> <%= @card.materials %>
	<br>
	<b>Facilitation Notes: </b> <%= @card.notes %>
	<br>
	<b>Sequence: </b> <%= @card.sequence %>
	<br>
	<br>
	<% if current_user.voted_up_on? @card %>
		<span class="icon-star"></span>
		<%= link_to 'Remove Favorite', dislike_card_path(@card), method: :put%>
	<% else %>
	<%= link_to 'Favorite', like_card_path(@card), method: :put%>
	<% end %>
	<% if current_user == @card.user %>
		<span class="icon-edit"></span>
		<%= link_to 'Edit', edit_card_path(@card) %> |
     <% end %>
    <span class="icon-arrow-left"></span>
    <%= link_to 'Back', cards_path %>

</div>
	</div> 
		</div>

