<div class="row">
	<div class="span6 offset3">
		
		<div class="well" style="background-color:<%= @card.color %>">
			<% if @card.image_file_name == nil %>
				<img src="SU_Logo_Thumbnail.png">
			<% else %>
				<%= image_tag @card.image %>
			<% end %>
			
	<p>
        <strong>
  		<%= @card.title %>
  	    </strong>
	</p>
		<p>
    <strong>
  		Created by <%= @card.user.name %>
  	</strong>
	</p>
	<% if current_user == @card.user %>
		<%= link_to 'Edit', edit_card_path(@card) %> |
     <% end %>
    <%= link_to 'Back', cards_path %>

</div>
	</div> 
		</div>


